<?xml version="1.0"?>
<web changed="yes" groupaccess="all:rw" id="webLKkYYScBRg" lock="no" name="CleanTemplate" perms="rw" webpalopen="open" webpalschematype="wpWeb">
  <settings id="settTweOlI6O1xaF" __stub="yes"/>
  <pages id="chptrsgWTXSHvguW" __stub="yes"/>
  <extensions id="exteNDswrnk0qfD2" __stub="yes"/>
  <designs id="desiagR3zTEcQvpe" __stub="yes"/>
  <__trash id="__tr99CeaHsnQvTI" __stub="yes"/>
</web>
